<%- include("header") -%>

    <h1 style="text-align: center">
        Creating global impact by simplifying life’s complexities
    </h1>
    <h1 style="text-align: center">
        Pioneering async- and remote-first work for over a decade
    </h1>
    <p style="text-align: center">
        Doist has been async- and remote-first since day one (back in 2010). We’re
        living proof that this way of working is the future, not a fad.
    </p>

    <%- include("footer") -%>